/*
======================================================================================================================
|© Copyright de l'entreprise HARP-e fondée par Anthony Prudhomme & Hugo Ruiz                                         |
|                                                                                                                    |
|"main.css" est un fichier qui permet de mettre en forme le texte et la position des éléments dans la page.          |
|                                                                                                                    |
|Par le biais de ces commandes, il a été possible de modifier l'affichage de plusieurs boutons ainsi que la forme de |
|la souris lors qu'elle sur différents éléments. L'aspect des graphiques a pu, lui aussi, être amélioré.             |
|Le fond de page a été défini grâce à ce fichier.                                                                    |
======================================================================================================================
*/

.centered{
  text-align: center;
  margin: 0px auto;
}

.mqtest_00{
  border:solid 1px #000;
}
.mqtest_400_to_500{
    display: none;
  }
@media screen and (max-width:800px) and (min-width:600px){
  .mqtest_00{
      color: #f00;
  }
  .mqtest_400_to_500{
    display: block;
  }
}

.firstContainer{
  margin-top: 50px;
  background-color: #1f3756;
  box-shadow: inset
  0px 10px 15px black;
}

.secondContainer{
  padding-top: 10px;
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 8%, rgba(214,214,214,1) 15%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 8%,rgba(214,214,214,1) 15%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 8%,rgba(214,214,214,1) 15%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-9 */
  box-shadow: inset
  0px 5px 10px black;
  color: #000;
}

.secondContainer input{
  color: #000;
  box-shadow: 
  0px 5px 10px black;
}

.thirdContainer{
  margin-top: 50px;
  padding: 30px;
  background-color: #aaa;
  box-shadow: inset
  0px 5px 10px black;
  color: #000;
}

.container{
  color: #fff;
  border-radius: 5px;
}

.row>div{
  
}

.inner-row>div:hover{
  
}

.inner-row{
  margin: 10px;
  background-color: #515151;
  border: solid 1px #000;
  border-radius: 5px;
  min-height: 40px;
  text-align: center;
  height: 425px;
  box-shadow: 
  0px 0px 15px black;
}

.inner-row-game-list{
  margin: 10px;
  background-color: #515151;
  border: solid 1px #000;
  border-radius: 5px;
  min-height: 40px;
  text-align: center;
  height: 425px;
  box-shadow: 
  0px 0px 15px black;
}

.inner-row-white{
  margin: 10px;
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(214,214,214,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(214,214,214,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(214,214,214,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-9 */
  border: solid 1px #000;
  border-radius: 5px;
  min-height: 40px;
  text-align: center;
  height: 425px;
  box-shadow: 
  0px 0px 15px black;
  color: #000;
}

.inner-row-longer{
  padding: 10px;
  margin: 10px;
  background: #54b3ea; /* Old browsers */
  background: -moz-linear-gradient(top, #54b3ea 0%, #145587 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #54b3ea 0%,#145587 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #54b3ea 0%,#145587 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54b3ea', endColorstr='#145587',GradientType=0 ); /* IE6-9 */
  border: solid 1px #000;
  border-radius: 5px;
  min-height: 40px;
  text-align: center;
  box-shadow: 
  0px 0px 15px black;
}

.logo-unselected:hover {
   -webkit-filter: none;
   -moz-filter: none;
   -ms-filter: none;
   filter: none;
}

.logo-unselected {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
  max-height: 30px;
  padding: 5px;
  display: block;
  margin: 0 auto;
}

.logo-selected {
  padding: 5px;
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  filter: none;
  max-height: 30px;
  border-radius: 5px;
  box-shadow: 
  0px 0px 15px black;
  display: block;
  margin: 0 auto;
}

.main-logo{
  max-height: 30px;  
  max-width: 100%; 
  width: auto;
  height: auto;
  position: absolute;  
  top: 0;  
  bottom: 0;   
  right: 10px;
  margin: auto;
  float: right;
  text-align: right;
}
.margined-div{
  margin: 5px;
}

/* Class that fix the height of a container
Used for the display of the list of games */
.fixed-height-container{
  height: 200px; 
  padding:3px; 
}

.content{
  height: 350px;
  overflow:auto;
  border-radius: 5px;
  box-shadow: inset
  0px 0px 7px black;
}

.list-of-games{

}

@media only screen and (max-width: 1000px) {
  .inner-row-game-list{
    height: 750px;
  }
  .list-of-games{
    padding-top: 15px;
  }
}

.gameTitle{
  text-align: center;
  font-size: 200%; /* Same size as h2 */
  font-style: italic;

  /* Margin */
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.detailsOnLeft{
  text-align: left;
  /* font-style: italic; */
  margin-left: 5px;
}

.detailsOnRight{
  text-align: right;
  /* font-style: italic; */
  margin-left: 5px;
}

.classForSelect{
  color: black;
  text-align: center;
  margin-top: 5px;
}

.sales-box-indicator{
  width:10px;
  height:10px;
}
 
.sales-box-indicator-eu{
  background:#DCDCDC;
}
.sales-box-indicator-jp{
  background:#F7454A;
}
.sales-box-indicator-na{
  background:#97BBCD;
}
.sales-box-indicator-other{
  background:#46BEBD;
}

.borderedLogo{
  padding: 2px;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

body{
  cursor: default;
}
img{
  cursor: pointer;
}
a{
  cursor: pointer;
}

.black-text{
  color: #000;
}



@import url(http://fonts.googleapis.com/css?family=Cabin:400);

.webdesigntuts-workshop form {
  background: #111;
  background: linear-gradient(#1b1b1b, #111);
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 
  0px 0px 15px black;
  display: inline-block;
  font-size: 0px;
  padding: 10px;
  position: relative;
  z-index: 1;
}

.webdesigntuts-workshop input {
  background: #222; 
  background: linear-gradient(#333, #222);  
  border: 1px solid #444;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 2px 0 #000;
  color: #888;
  display: block;
  float: left;
  font-family: 'Cabin', helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  height: 40px;
  margin: 0;
  padding: 0 10px;
  text-shadow: 0 -1px 0 #000;
  width: 200px;
}

.ie .webdesigntuts-workshop input {
  line-height: 40px;
}

.webdesigntuts-workshop input::-webkit-input-placeholder {
   color: #888;
}

.webdesigntuts-workshop input:-moz-placeholder {
   color: #888;
}

.webdesigntuts-workshop input:focus {
  animation: glow 800ms ease-out infinite alternate;
  background: #222922;
  background: linear-gradient(#333933, #222922);
  border-color: #393;
  box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
  color: #efe;
  outline: none;
}

.webdesigntuts-workshop input:focus::-webkit-input-placeholder { 
  color: #efe;
}

.webdesigntuts-workshop input:focus:-moz-placeholder {
  color: #efe;
}


@keyframes glow {
    0% {
    border-color: #393;
    box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    } 
    100% {
    border-color: #6f6;
    box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}


.select-style {
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
    text-align: center;
    background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}


