input.ng-invalid, textarea.ng-invalid{
  background-color: #f00;
}

.smallStar{
  max-height: 30px;
}

.line{
  background-color: #4286f4;
  color: #fff;
  margin:3px;
  box-shadow: 5px 5px 5px grey;

}

.line input, .line button{
  color: #000;
}

form{
  border:solid 1px #888;
}

.review{
  background-color: #fff;
  color: #000;
  margin:3px;
}

.centered{
  text-align: center;
  margin: 0px auto;
}

.mqtest_00{
  border:solid 1px #000;
}
.mqtest_400_to_500{
    display: none;
  }
@media screen and (max-width:800px) and (min-width:600px){
  .mqtest_00{
      color: #f00;
  }
  .mqtest_400_to_500{
    display: block;
  }
}

.firstContainer{
  margin-top: 50px;
  background-color: #1f3756;
  box-shadow: inset
  0px 10px 15px black;
}

.secondContainer{
  padding-top: 10px;
  background-color: #fff;
  color: #fff;
  box-shadow: inset
  0px 5px 10px black;
  color: #000;
}

.secondContainer input{
  color: #000;
  box-shadow: 
  0px 5px 10px black;
}

.thirdContainer{
  margin-top: 50px;
  padding: 30px;
  background-color: #aaa;
  color: #fff;
  box-shadow: inset
  0px 5px 10px black;
  color: #000;
}

.container{
  color: #fff;
  border-radius: 5px;
}

.row>div{
  
}

.inner-row>div:hover{
  
}

.inner-row{
  margin: 10px;
  background-color: #515151;
  border: solid 1px #000;
  border-radius: 5px;
  min-height: 40px;
  text-align: center;
  height: 400px;
  box-shadow: 
  0px 0px 15px black;
}

.inner-row-longer{
  padding: 10px;
  margin: 10px;
  background-color: #515151;
  border: solid 1px #000;
  border-radius: 5px;
  min-height: 40px;
  text-align: center;
  box-shadow: 
  0px 0px 15px black;
}

.logo-unselected:hover {
   -webkit-filter: none;
   -moz-filter: none;
   -ms-filter: none;
   filter: none;
}

.logo-unselected {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
   -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   filter: grayscale(100%);
   filter: gray; /* IE 6-9 */
   max-height: 30px;
   padding: 5px;
   display: block;
    margin: 0 auto;
}

.logo-selected {
  padding: 5px;
   -webkit-filter: none;
   -moz-filter: none;
   -ms-filter: none;
   filter: none;
   max-height: 30px;
   border-radius: 5px;
   box-shadow: 
  0px 0px 15px black;
  display: block;
    margin: 0 auto;

}

.margined-div{
  margin: 5px;
}

/* Class that fix the height of a container
Used for the display of the list of games */
.fixed-height-container{
  height: 200px; 
  padding:3px; 
}

.content{
  height: 250px;
  overflow:auto;
}

.gameTitle{
  text-align: center;
  font-size: 200%; /* Same size as h2 */
  font-style: italic;

  /* Margin */
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.detailsOnLeft{
  text-align: left;
  /* font-style: italic; */
  margin-left: 5px;
}

.detailsOnRight{
  text-align: right;
  /* font-style: italic; */
  margin-left: 5px;
}

.classForSelect{
  color: black;
  text-align: center;
  margin-top: 5px;
}

.sales-box-indicator{
  width:10px;
  height:10px;
}
 
.sales-box-indicator-eu{
  background:#DCDCDC;
}
.sales-box-indicator-jp{
  background:#F7454A;
}
.sales-box-indicator-na{
  background:#97BBCD;
}
.sales-box-indicator-other{
  background:#46BEBD;
}

.borderedLogo{
  padding: 2px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}


body {
      position: relative; 
  }

