input.ng-invalid, textarea.ng-invalid{
  background-color: #f00;
}

.smallStar{
  max-height: 30px;
}

.line{
  background-color: #4286f4;
  color: #fff;
  margin:3px;
  box-shadow: 5px 5px 5px grey;

}

.line input, .line button{
  color: #000;
}

form{
  border:solid 1px #888;
}

.review{
  background-color: #fff;
  color: #000;
  margin:3px;
}

.centered{
  text-align: center;
  margin: 0px auto;
}

.mqtest_00{
  border:solid 1px #000;
}
.mqtest_400_to_500{
    display: none;
  }
@media screen and (max-width:800px) and (min-width:600px){
  .mqtest_00{
      color: #f00;
  }
  .mqtest_400_to_500{
    display: block;
  }
}

.firstContainer{
  margin-top: 50px;
  background-color: #1f3756;
  box-shadow: inset
  0px 10px 15px black;
}

.secondContainer{
  background-color: #235dba;
  color: #fff;
  box-shadow: inset
  0px 5px 10px black;
}

.secondContainer input{
  color: #000;
  box-shadow: 
  0px 5px 10px black;
}

.container{
  color: #fff;
  border-radius: 5px;
}

.row>div{
  
}

.inner-row>div:hover{
  
}

.inner-row{
  margin: 10px;
  background-color: #515151;
  border: solid 1px #000;
  border-radius: 5px;
  min-height: 40px;
  text-align: center;
  height: 300px;
  box-shadow: 
  0px 0px 15px black;
}


.logo-unselected:hover {
   -webkit-filter: none;
   -moz-filter: none;
   -ms-filter: none;
   filter: none;
}

.logo-unselected {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
   -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   filter: grayscale(100%);
   filter: gray; /* IE 6-9 */
   max-height: 30px;
}

.logo-selected {
   -webkit-filter: none;
   -moz-filter: none;
   -ms-filter: none;
   filter: none;
   max-height: 30px;
   border-radius: 5px;
   box-shadow: 
  0px 0px 15px black;

}

.margined-div{
  margin: 5px;
}
/* Class that fix the height of a container
Used for the display of the list of games*/
.fixed-height-container
{
  height: 200px; 
  padding:3px; 
}
.content
{
  height: 150px;
  overflow:auto;
}

select{
  color:  black !important;
}
