input.ng-invalid, textarea.ng-invalid{
  background-color: #f00;
}

.smallStar{
  max-height: 30px;
}

.line{
  background-color: #4286f4;
  color: #fff;
  margin:3px;
  box-shadow: 5px 5px 5px grey;

}

.line input, .line button{
  color: #000;
}

form{
  border:solid 1px #888;
}

.review{
  background-color: #fff;
  color: #000;
  margin:3px;
}

.centered{
  text-align: center;
  margin: 0px auto;
}

.mqtest_00{
  border:solid 1px #000;
}
.mqtest_400_to_500{
    display: none;
  }
@media screen and (max-width:800px) and (min-width:600px){
  .mqtest_00{
      color: #f00;
  }
  .mqtest_400_to_500{
    display: block;
  }
}

.firstContainer{
  margin-top: 50px;
  background-color: #1f3756;
  box-shadow: inset
  0px 10px 15px black;
}

.secondContainer{
  background-color: #235dba;
  color: #fff;
  box-shadow: inset
  0px 5px 10px black;
}

.secondContainer input{
  color: #000;
  box-shadow: 
  0px 5px 10px black;
}

.container{
  color: #fff;
  border-radius: 5px;
}

.row>div{
  background-color: #515151;
  border: solid 1px #000;
  border-radius: 5px;
  min-height: 40px;
  text-align: center;
  height: 50px;
  line-height: 50px;
}

.row>div:hover{
  box-shadow: 
  0px 0px 15px black;
}