<div ng-controller="pageAController as pageA">
	<div style="height: 50px">
		
	</div>

	<!-- Display of logo filters -->
	<div id="section1" class="margined-div">
		<p style="color: #000"> You can select the consoles below to only display video games from those consoles</p>
		<span ng-repeat="logo in logos track by $index">
		<div class="col-md-2 col-centered borderedLogo">
			
			<img ng-class="logo.class" src={{logo.src}} ng-click="changeClass($index)">
		</div>

		</span>
	</div>

	
<br/>
<br/>
<br/>
	<div class="firstContainer" id="section2">
        <div class="container"> 
            <div class="row"> 

            	<!-- Block n°1 : List of games -->
                <div class="col-md-4"> 
                	<div class="inner-row">
                		<div class="fixed-height-container centered" ng-controller = "changeSortBy as chSortBy">
                		<h2 class="sectiontext">Game list</h2>
	                	<!-- Search bar -->
						  	<input type="text" ng-model="searchGame" placeholder="Search a game">
						  	</br>
						  	<!-- Sort of the table -->
						  	<select class = "classForSelect" name = "sortTable" id = "sortTable" ng-model = "sortBy" ng-change = "dateFilterIsEnabled(sortBy)">
						  		<option value = "" selected disabled> == Sort by == </option>
						  		<option value = ""> Nothing </option>
						  		<option disabled> -- Alphabetical -- </option>
					            <option value = "+Name"> (0-9) A-Z </option>
					            <option value = "-Name"> Z-A (0-9) </option>
						  		<option disabled> -- Score -- </option>
						  		<option value = "-Score"> Best scores </option>
					            <option value = "+Score"> Worst scores </option>
						  		<option disabled> -- Sales -- </option>
					            <option value = "-Global_Sales"> Best sales </option>
					            <option value = "+Global_Sales"> Worst sales </option>
        					</select>

        					<!-- Number of items for the table -->
						  	<select class = "classForSelect" name = "numberItemTable" id = "nbItem" ng-model = "nbItem">
						  		<option value = "" selected disabled> == Number of items == </option>
					            <option value = "7500"> All </option>
					            <option disabled> ------- </option>
					            <option value = "1"> 1 </option>
					            <option value = "10"> 10 </option>
					            <option value = "25"> 25 </option>
					            <option value = "50"> 50 </option>
					            <option value = "100"> 100 </option>
					            <option value = "200"> 200 </option>
        					</select>

							<!-- Names of all publishers of Video Games -->
							<select class="classForSelect" name="publisherNamesSelect" id="publisherNamesSelect" ng-model="publisherNameChoose" ng-change="changePublisher(publisherNameChoose)" ng-controller = "changePublisherName as chPubliName">
								<option value="" selected disabled> == Names of publishers == </option>
								<option value="All"> All publishers </option>
								<option ng-repeat="publisher in allPublisher | orderBy: +Name track by $index" value="{{$index}}"> {{publisher.Name}} </option>
							</select>

							<!-- Release year of all Video Games -->
							<select class="classForSelect" name="releaseDate" id="releaseDate" ng-model="dateChosen" ng-change="changeDate(dateChosen)" ng-controller="changeDateYear as chDateY">
								<option value="" selected disabled> == Years release == </option>
								<option value="All"> All years </option>
								<option ng-repeat="date in allDates | orderBy: +Year: reverse = false track by $index" value="{{$index}}"> {{date.Year}} </option>
							</select>

        					<!-- Display the list of games -->
						  	<div class="content">
						    	<!-- to display all games with search filters -->
								<div ng-repeat=" game in pageA.filteredGames = (pageA.vgDatas | filter: searchGame | orderBy: sortBy | consoleFilter | publisherFilter: publiFIsEnabled | dateFilter: dateCFIsEnable | limitTo: nbItem ) track by $index">
									<a class="game-name" ng-click="pageA.onGameClicked(game)">
										{{game.Name}}
									</a>
								</div>
							</div>
					    </div>
					</div>
                </div>

                <!-- Block n°2 : Chart -->
                <div class="col-md-4 ">
	                <div class="inner-row" >
	                	<div ng-show="pageA.gameSelected">
							<div class="col-md-6" style="display:inline-block">
							  <div class="topleft" style="text-align:center; float:left;">
							    <h2 class="sectiontext">Sales by region</h2>
							    <br/>
							    <div ng-controller="DoughnutCtrl">
					                <canvas id="doughnut" class="chart chart-doughnut"
										chart-data="doughnutData" chart-labels="labels" chart-options="options">
									</canvas> 
								</div>
								<br/>
								<br/>
								<div class = "detailsOnRight"> North America: {{pageA.gameSelected.NA_Sales}}M 
								<img class="sales-box-indicator sales-box-indicator-na"/> -</div> 
								<div class = "detailsOnRight"> Europe: {{pageA.gameSelected.EU_Sales}}M 
								<img class="sales-box-indicator sales-box-indicator-eu"/> -</div>
								<div class = "detailsOnRight"> Japan: {{pageA.gameSelected.JP_Sales}}M
								<img class="sales-box-indicator sales-box-indicator-jp"/> -</div>
								<div class = "detailsOnRight"> Other: {{pageA.gameSelected.Other_Sales}}M
								<img class="sales-box-indicator sales-box-indicator-other"/> -</div>

							  </div>
							</div>
						</div>
						<div ng-if="!pageA.gameSelected">
	            			<h2 class="sectiontext">Select a game in the first box to see sales by regions of this game</h2>
						</div>
	                </div>
	            </div>
            <!-- Block n°3 : Shows the detail of a game-->
            <div class="col-md-4"> 
            	<div class="inner-row"> 
	            	<div ng-if="pageA.gameSelected">
	            		<h2 class="sectiontext">{{pageA.gameSelected.Name}}</h2>
						<div class = "detailsOnLeft"> - Console: {{pageA.gameSelected.Platform}} </div>
						<div class = "detailsOnLeft"> - Genre: {{pageA.gameSelected.Genre}} </div>
						<div class = "detailsOnLeft"> - Publisher: {{pageA.gameSelected.Publisher}} </div>
						<div class = "detailsOnLeft"> - Sales in North America: {{pageA.gameSelected.NA_Sales}}M </div>
						<div class = "detailsOnLeft"> - Sales in Europe: {{pageA.gameSelected.EU_Sales}}M </div>
						<div class = "detailsOnLeft"> - Sales in Japan: {{pageA.gameSelected.JP_Sales}}M </div>
						<div class = "detailsOnLeft"> - Other sales: {{pageA.gameSelected.Other_Sales}}M </div>
						<div class = "detailsOnLeft"> - Total sales: {{pageA.gameSelected.Global_Sales}}M </div>
						<div class = "detailsOnLeft"> - Score: {{pageA.gameSelected.Score}}/10 it's {{pageA.gameSelected.Score_phrase}} </div>
						<div class = "detailsOnLeft"> - Release day: {{pageA.gameSelected.Release_day}}/{{pageA.gameSelected.Release_month}}/{{pageA.gameSelected.Release_year}} </div>
						<br/>
						<a class = "detailsOnLeft" href="http://www.ign.com/{{pageA.gameSelected.Url}}">See the test on IGN</a>
						<br/>
						<a class = "detailsOnLeft" href="https://www.amazon.fr/s/ref=nb_sb_noss_2?__mk_fr_FR=ÅMÅŽÕÑ&url=search-alias%3Dvideogames&field-keywords={{pageA.gameSelected.Name}} {{pageA.gameSelected.Platform}}&rh=n%3A530490%2Ck%3A.">Buy it on Amazon</a>

						
					</div>
					<div ng-if="!pageA.gameSelected">
	            		<h2 class="sectiontext">Select a game in the first box to see informations about it here</h2>
					</div>
            	</div>
        	</div>
        	<div class="col-md-12"> 
            	<div class="inner-row-longer">
            		<h2 class="sectiontext"> Sales and rates of video games chart</h2>
            		<br/>
					<canvas id="allGamesChart" class="chart-bubble" chart-data="data" chart-series="series" chart-click="onClick"
						chart-legend="false" chart-options="options">
					</canvas>
				</div>
			</div>
    	</div>
    </div>

    <div class="thirdContainer" id="section3">

    <h2> About us</h2>

    <p>This website has been developped by Anthony Prudhomme and Hugo Ruiz, two EPF students. This website was developped for a project at school.
    In this project, teams of two were supposed to select some open datas and make a website out of it to display those datas as nicely as possible. 
    Hugo and Anthony chose to use datas about video games.</p>

    </div>
</div>  




