<div ng-controller="pageAController as pageA">
	<div style="height: 50px">
		
	</div>

	<!-- Display of logo filters -->
	<div class="margined-div">
		<span ng-repeat="logo in logos track by $index">
			<img ng-class="logo.class" src={{logo.src}} ng-click="changeClass($index)">
		</span>
	</div>

	

	<div class="firstContainer">
        <div class="container"> 
            <div class="row"> 
            	<!-- Block n°1 : List of games -->
                <div class="col-md-4"> 
                	<div class="inner-row">
                		<div class="fixed-height-container centered">
	                	<!-- Search bar -->
						  	<input type="text" ng-model="searchGame" placeholder="Search a game">
						  	</br>
						  	<!-- Sort of the table -->
						  	<select class = "classForSelect" name = "sortTable" id = "sortBy" ng-model = "sortBy">
						  		<option value = "" selected disabled> == Sort by == </option>
						  		<option disabled> -- Alphabetical -- </option>
					            <option value = "+Name"> (0-9) A-Z </option>
					            <option value = "-Name"> Z-A (0-9) </option>
						  		<option disabled> -- Publisher -- </option>
					            <option value = "+Publisher"> Publisher: (0-9) A-Z </option>
					            <option value = "-Publisher"> Publisher: Z-A (0-9) </option>
						  		<option disabled> -- Score -- </option>
					            <option value = "+Score"> Increasing score </option>
					            <option value = "-Score"> Decreasing score </option>
						  		<option disabled> -- Sales -- </option>
					            <option value = "+Global_Sales"> Increasing sales </option>
					            <option value = "-Global_Sales"> Decreasing sales </option>
						  		<option disabled> -- Dates -- </option>
					            <option value = "Mystery_1"> Increasing dates </option>
					            <option value = "Mystery_2"> Decreasing dates </option>
        					</select>
        					<!-- Number of items for the table -->
						  	<select class = "classForSelect" name = "numberItemTable" id = "nbItem" ng-model = "nbItem">
						  		<option value = "" selected disabled> == Number of items == </option>
					            <option value = "1"> 1 </option>
					            <option value = "25"> 25 </option>
					            <option value = "50"> 50 </option>
					            <option value = "100"> 100 </option>
					            <option value = "200"> 200 </option>
					            <option value = "7500"> All </option>
        					</select>

        					<!-- Display the list of games -->
						  	<div class = "gameTitle"> Game list </div>
						  	<div class="content"> 
						    	<!-- to display all games with search filters -->
								<div ng-repeat="game in pageA.vgDatas | filter: searchGame | orderBy: sortBy | consoleFilter | limitTo: nbItem ">
									<a class="game-name" ng-click="pageA.onGameClicked(game)">
										{{game.Name}}
									</a>
								</div>
							</div>
					    </div>
					</div>
                </div>

                <!-- Block n°2 : Chart -->
                <div class="col-md-4 ">
	                <div class="inner-row">
	                	<!-- Calls the LineCtrl to display the graph-->
	                	<div ng-controller="LineCtrl">
							<canvas id="base" class="chart-bubble" chart-data="data" chart-series="series" chart-click="onClick"
							chart-legend="false">
							</canvas>
						</div>
	                </div>
	            </div>
            <!-- Block n°3 : Shows the detail of a game-->
            <div class="col-md-4"> 
            	<div class="inner-row"> 
	            	<div ng-show="pageA.gameSelected">
	            		<div class = "gameTitle"> {{pageA.gameSelected.Name}} </div>
						<div class = "detailsOnLeft"> - Console: {{pageA.gameSelected.Platform}} </div>
						<div class = "detailsOnLeft"> - Genre: {{pageA.gameSelected.Genre}} </div>
						<div class = "detailsOnLeft"> - Publisher: {{pageA.gameSelected.Publisher}} </div>
						<div class = "detailsOnLeft"> - Sales in North America: {{pageA.gameSelected.NA_Sales}}M </div>
						<div class = "detailsOnLeft"> - Sales in Europe: {{pageA.gameSelected.EU_Sales}}M </div>
						<div class = "detailsOnLeft"> - Sales in Japon: {{pageA.gameSelected.JP_Sales}}M </div>
						<div class = "detailsOnLeft"> - Other sales: {{pageA.gameSelected.Other_Sales}}M </div>
						<div class = "detailsOnLeft"> - Total sales: {{pageA.gameSelected.Global_Sales}}M </div>
						<div class = "detailsOnLeft"> - Platform: {{pageA.gameSelected.Platform}} </div>
						<div class = "detailsOnLeft"> - Score: {{pageA.gameSelected.Score}}/10 it's {{pageA.gameSelected.Score_phrase}} </div>
						<div class = "detailsOnLeft"> - Release day: {{pageA.gameSelected.Release_day}}/{{pageA.gameSelected.Release_month}}/{{pageA.gameSelected.Release_year}} </div>
					</div>
            	</div>
        	</div>
    	</div>
    </div>
</div>  
